<nb-card size="large">
    <nb-card-header><b>
        <nb-icon icon="plus-circle-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        Add New Company</b>
    </nb-card-header>
    <nb-card-body>
        <label for="companyName" class="label">Company Name</label>
        <input type="text" nbInput id="companyName" fullWidth placeholder="Full width">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="emailAddress" class="label">Email Address</label>
                    <input type="email" nbInput fullWidth id="emailAddress" placeholder="Email">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="webAddress" class="label">Website</label>
                    <input type="text" nbInput fullWidth id="webAddress" placeholder="Website">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="position" class="label">Position</label>
                    <input type="text" nbInput fullWidth id="position" placeholder="Position">
                </div>
                <div class="form-group">
                    <label for="address" class="label">Address</label>
                    <textarea nbInput rows="3" id="address" fullWidth placeholder="Textarea"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="stacks" class="label">Stacks</label>
                    <input type="text" nbInput fullWidth id="stacks" placeholder="stacks">
                </div>
                <div class="form-group">
                    <label for="business" class="label">Business</label>
                    <textarea nbInput rows="3" id="business" fullWidth placeholder="Textarea"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="float-right" nbButton status="primary">
            <nb-icon icon="checkmark-circle-outline"></nb-icon>
            submit
        </button>
    </nb-card-body>
</nb-card>

