<nb-card size="giant" accent="info">
    <nb-card-header><b><img class="mr-2" src="https://img.icons8.com/fluent/30/000000/privacy-policy.png"/>Privacy
        Policy</b></nb-card-header>
    <nb-card-body>
        <p><b>1. Introduction:</b></p>

        <p>Welcome to our website!</p>

        <p>These Terms of Service, operated by Fractalslab.</p>

        <p>Our Privacy Policy also governs your use of our Services and explains how we collect, protect and publish the
            results of our use of our web pages.</p>

        <p><b>2. Communication:</b></p>

        <p>By using our Services, you agree to subscribe to newsletters, and
            transitions that we may make. However, you can choose contacts from us by
            following the feedback or emailing
            <a href="mailto:saiful@fractalslab.com?subject = Feedback&body = Message">
                <img src="https://img.icons8.com/fluent/20/000000/filled-sent.png"/> saiful@fractalslab.com.
            </a>
        </p>

        <p><b>3. Accounts:</b></p>

        <p>The user will be able to upload his/her resume every 24 hours later.
            You will have the opportunity to update your profile once a day.</p>

        <p>You are responsible for maintaining the confidentiality of your account and password, without restricting
            access
            to your computer and/or account.</p>

        <p><b>4. Analytics: </b></p>

        <p>We use third-party service providers to monitor and analyze the use of our services.</p>

        <p><b>5. Intellectual property: </b></p>

        <p>The service and its original content, features, and functionality are the exclusive property of Fractallash
            and
            its licensors. Services are protected by copyright, trademark, and other laws abroad. No product or service
            may
            be used in connection without the consent of our trademark fractalslab.</p>

        <p><b>6. Reporting and Response Errors: </b></p>

        <p>You can mail us directly at <a href="mailto:saiful@fractalslab.com?subject = Feedback&body = Message">
            <img src="https://img.icons8.com/fluent/20/000000/filled-sent.png"/> saiful@fractalslab.com.
        </a> to respond to errors, improvement suggestions, ideas, problems,
            complaints, and other issues related to our services.</p>

        <p><b> 7. Contact us: </b></p>

        <p>Send us your <a class="h6" routerLink="/pages/forms/feedback">feedback</a> technical support request via email.</p>
    </nb-card-body>
</nb-card>
