<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col">
                <b><img class="mr-2" src="https://img.icons8.com/fluent/30/000000/test-account.png"/>Personal
                    Information: </b>
            </div>
            <div class="col">
                <button status="primary" size="small" class="float-right" routerLink="/pages/settings" nbButton
                        nbPopover="Update your personal information"
                        nbPopoverTrigger="hover" nbPopoverPlacement="bottom">
                    <img class="mr-2" src="https://img.icons8.com/fluent/25/000000/settings.png"/>Setting
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p>Please introduce yourself to us. Based on your information we can deliver more interactive insight to
            you.</p>
        <p><b>NB: </b>We never share your information to others.</p>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <nb-list>
                    <nb-list-item>
                        <p>
                            <img src="https://img.icons8.com/fluent/30/000000/username.png"/> {{currentUser.profile?.name}}
                        </p>
                    </nb-list-item>
                    <nb-list-item>
                        <p><img src="https://img.icons8.com/fluent/30/000000/email.png"/> {{currentUser.profile?.email}}
                        </p>
                    </nb-list-item>
                    <nb-list-item>
                        <p>
                            <img src="https://img.icons8.com/fluent/30/000000/address.png"/> {{currentUser.profile?.address}}
                        </p>
                    </nb-list-item>
                    <nb-list-item>
                        <p><img src="https://img.icons8.com/fluent/30/000000/phone.png"/> {{currentUser.profile?.phone}}
                        </p>
                    </nb-list-item>
                </nb-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header><b>Your Favourite Stacks: </b></nb-card-header>
    <nb-card-body>
        <nb-tag-list>
            <nb-tag status="primary" appearance="filled" *ngFor="let stack of currentStacks"
                    text="{{stack}}"></nb-tag>
        </nb-tag-list>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-badge text="New Feature" status="success" position="top right"></nb-badge>
    <nb-card-header>
        <p><b><img class="mr-2" src="https://img.icons8.com/fluent/30/000000/submit-resume.png"/>Upload
            Your Resume: </b></p>
    </nb-card-header>
    <nb-card-body>
        <p>You can also upload your CV. The system will collect stacks from your CV and recommend the most
            relevant companies for you. Please be patient. It will take 5-6 minutes to review your CV and update
            stacks accordingly.</p>
        <ngx-cv-uploader></ngx-cv-uploader>
    </nb-card-body>
</nb-card>

