<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col">
                <b><img class="mr-2" src="https://img.icons8.com/fluent/30/000000/test-account.png"/>Personal
                    Information: </b>
            </div>
            <div class="col">
                <button status="primary" size="small" class="float-right" routerLink="/pages/settings" nbButton
                        nbPopover="Update your personal information"
                        nbPopoverTrigger="hover" nbPopoverPlacement="bottom">
                    <nb-icon icon="settings-outline"></nb-icon>
                    Setting
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p>Please introduce yourself to us. Based on your information we can deliver more interactive insight to
            you.</p>
        <p><b>NB: </b>We never share your information to others.</p>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <nb-list>
                    <nb-list-item>
                        <nb-icon icon="person-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        {{currentUser?.name}}
                    </nb-list-item>
                    <nb-list-item>
                        <nb-icon icon="at-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        {{currentUser?.email}}
                    </nb-list-item>
                    <nb-list-item>
                        <nb-icon icon="pin-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        {{currentUser?.address}}
                    </nb-list-item>
                    <nb-list-item>
                        <nb-icon icon="phone-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        {{currentUser?.phone}}
                    </nb-list-item>
                </nb-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header><b>Your Favourite Stacks: </b></nb-card-header>
    <nb-card-body>
        <nb-tag-list>
            <nb-tag status="primary" appearance="filled" *ngFor="let stack of currentStacks"
                    text="{{stack}}"></nb-tag>
        </nb-tag-list>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-badge text="New Feature" status="success" position="top right"></nb-badge>
    <nb-card-header>
        <nb-icon icon="attach-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        <b>Upload Your Resume: </b>
    </nb-card-header>
    <nb-card-body>
        <p>You can also upload your CV. The system will collect stacks from your CV and recommend the most
            relevant companies for you. Please be patient. It will take 5-6 minutes to review your CV and update
            stacks accordingly.</p>
        <ngx-cv-uploader></ngx-cv-uploader>
    </nb-card-body>
</nb-card>

