<nb-card>
    <nb-card-header><b><img src="https://img.icons8.com/fluent/30/000000/test-account.png"/>Personal Information: </b>
    </nb-card-header>
    <nb-card-body>
        <p>Please introduce yourself to us. Based on your information we can deliver more interactive insight to
            you.</p>
        <p><b>NB: </b>We never share your information to others.</p>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <nb-list>
                    <nb-list-item>

                    </nb-list-item>
                </nb-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>

        <nb-tabset fullWidth>
            <nb-tab tabTitle="Users">
                <p>List of <strong>users</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Orders">
                <p>List of <strong>orders</strong>.</p>
            </nb-tab>
        </nb-tabset>

    </nb-card-body>
</nb-card>
