<nb-card>
    <nb-card-header><b>Your Settings</b></nb-card-header>
    <nb-card-body>
        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
                <input type="text" nbInput fullWidth placeholder="Name" formControlName="name">
                <div class="full-name-inputs">
                    <input type="email" nbInput fullWidth placeholder="Email" formControlName="email">
                    <input type="text" nbInput fullWidth placeholder="Phone" formControlName="phone">
                </div>
                <textarea rows="4" nbInput fullWidth placeholder="Text Area" formControlName="address"></textarea>
                <button nbButton status="success">Success</button>
            </fieldset>
        </form>
    </nb-card-body>
</nb-card>

