<article>
    <h6>{{post['name']}}</h6>
    <p><a href="{{post['web']}}">{{post['web']}}</a></p>
    <p>{{post['address']}}</p>
</article>
<nb-accordion>
    <nb-accordion-item>
        <nb-accordion-item-header>
            See More...
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <p><b>Stacks: </b>
                <nb-tag *ngFor="let temp2 of post['stacks']"
                        status="info" appearance="outline" text="{{temp2}}"></nb-tag>
            </p>
            <p><b>Positions: </b>
                <nb-tag *ngFor="let temp2 of post['positions']"
                        status="primary" appearance="outline" text="{{temp2}}"></nb-tag>
            </p>
            <p><b>Business: </b> {{post['business']}}</p>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
