<div class="infinite-cards row">
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card accent="info" [nbSpinner]="loading" nbSpinnerStatus="danger" class="own-scroll">
            <nb-card-header>Companies</nb-card-header>
            <nb-list class="mt-3"
                     nbInfiniteList
                     [threshold]="500"
                     (bottomThreshold)="loadNext(firstCard)">
                <nb-list-item *ngFor="let newsPost of firstCard.news">
                    <ngx-news-post style="width: 100%" [post]="newsPost">
                    </ngx-news-post>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>
