<ng-template #contentTemplate let-data>
    <p><img src="https://img.icons8.com/fluent/25/000000/link.png"/><a target="_blank"
                                                                       href="{{post['web']}}">{{post['web']}}</a></p>
    <p><b>Positions: </b>
        <nb-tag class="ml-1 mt-1" *ngFor="let temp2 of post['positions']"
                status="basic" appearance="filled" text="{{temp2}}"></nb-tag>
    </p>
    <p *ngIf="!showbusiness"><b>Business: </b>
        {{(showMore) ? businessText : businessText | slice:0:200}}
        <span *ngIf="!showMore">...</span>
        <a href="javascript:" *ngIf="!showMore" (click)="showMore=true">See More</a>
    </p>
</ng-template>

<a style="cursor: pointer" (click)="openWindow()">
    <article>
        <h6>{{post['name']}}</h6>
        <p>{{post['address']}}</p>
        <nb-tag class="ml-1 mt-1" *ngFor="let temp2 of post['stacks']"
                status="basic" appearance="filled" text="{{temp2}}"></nb-tag>
    </article>
</a>

