<nb-card>
    <nb-card-header style="position: relative;"><b>Subscribe to the Instapage Blog</b>
        <nb-badge text="Close" (click)="dismiss()" status="danger" position="top right"></nb-badge>
    </nb-card-header>
    <nb-card-body class="example-items-col">
        <div class="row justify-content-center mb-3">
            <div class="col-sm-8">
                <p>Get the latest trends, tactics, and thought leadership for advertising conversion and post-click
                automation.</p>
            </div>
        </div>
        <input type="text" nbInput
               shape="round"
               fullWidth fieldSize="large" placeholder="Enter your email address here...">
        <button nbButton shape="round" fullWidth class="mt-3" hero status="primary" size="medium">SUBSCRIBE ME
        </button>
    </nb-card-body>
    <nb-card-footer>
        <p>You will only receive quality content.</p>
    </nb-card-footer>
</nb-card>
