<nb-tag-list (tagRemove)="onTagRemove($event)">
    <nb-tag status="primary" appearance="filled"
            *ngFor="let stacks of userStacks" [text]="stacks" removable></nb-tag>
    <input type="text"
           nbTagInput (tagAdd)="onTagAdd($event)"
           #autoInput
           placeholder="Enter your favourite stacks..."
           fullWidth>
</nb-tag-list>
<button (click)="submit()" type="submit" class="float-right mt-3" nbButton status="primary">
    <nb-icon icon="checkmark-circle-outline"></nb-icon>
    submit
</button>
