<nb-tag-list (tagRemove)="onTagRemove($event)">
    <nb-tag *ngFor="let tree of trees" [text]="tree" removable></nb-tag>
    <input type="text"
           nbTagInput (tagAdd)="onTagAdd($event)"
           #autoInput
           (input)="onChange()"
           [nbAutocomplete]="auto"
           fullWidth>
    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

        <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
            {{ option }}
        </nb-option>

    </nb-autocomplete>
</nb-tag-list>
<button (click)="submit()" type="submit" class="float-right mt-3" nbButton status="primary">
    <nb-icon icon="checkmark-circle-outline"></nb-icon>
    submit
</button>
